/*!
 * bootScore custom styles
 */

// Add your own code here!
// Because this file is compiled after Bootstrap, you're also able to use Bootstrap mixins for better code.
// Some examples can be found here: https://bootscore.me/documentation/bootstrap-css-sass

// DESKTOP UNIVERSAL

#content {
  max-width: 1920px;
}

pre {
  padding: 0rem;
}

// MOBILE VIEW UNIVERSAL

@media (max-width: 768px) {
  html {
    font-size: 10.5px;
  }
}

// COLLAPSIBLE TEXT

.collapseomatic {
  background: none;
  padding: 30px 0 30px 0;
  border-bottom: 2px solid #000000;
  font-style: italic;
  font-weight: 300;
  font-size: 27px;
  line-height: 52px;
  display: block;
  width: 122%;
  position: relative;
  right: 20%;
  padding-left: 20%;
}

.colomat-close {
  background: linear-gradient(-90deg, rgba(255, 255, 255, 0.2) 52.25%, #0000FF 100%);
  padding: 30px 0 30px 0;
  border-bottom: 2px solid #000000;
  font-style: italic;
  font-weight: 300;
  font-size: 27px;
  line-height: 52px;
  display: block;
  width: 122%;
  position: relative;
  right: 20%;
  padding-left: 20%;
}

.collapseomatic_content {
  margin-top: 0px;
  margin-left: 16px;
  padding-top: 30px;
}

// HEADINGS

h1 {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 300;
  font-size: 9.5rem;
  line-height: 167px;
  color: rgba(var(--bs-primary-rgb), var(--bs-text-opacity)) !important;
}

@media (max-width: 768px) {
  h1 {
    font-size: 58px;
    line-height: 69.9px;
  }
}

.entry-content h1 {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 105.99%;
  text-transform: uppercase;
  --bs-text-opacity: 1;
  color: rgba(var(--bs-secondary-rgb), var(--bs-text-opacity)) !important;
}

h2.widget-title.h4 {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
  text-transform: capitalize;
  color: rgba(var(--bs-primary-rgb), var(--bs-text-opacity)) !important;
}

h2 {
  font-size: 1.6875rem;
  font-weight: 300;
  padding-bottom: 1.875rem;
  text-transform: uppercase;
  --bs-text-opacity: 1;
  color: rgba(var(--bs-secondary-rgb), var(--bs-text-opacity)) !important;
}

@media (max-width: 768px) {
  h2 {
    padding-bottom: 0rem;
  }
}

// NAVBAR

.nav-link {
  font-style: normal;
  font-size: 20px;
  line-height: 35px;
  text-align: center;
  text-transform: uppercase;
}

.nav-link:hover {
  font-weight: 800;
  letter-spacing: -0.01em;
}

.navbar-nav .show>.nav-link, .navbar-nav .nav-link.active {
  font-weight: 800;
  letter-spacing: -0.01em;
  color: #000000;
}

.nav-item {
  padding-right: 55px;
}

a.navbar-brand.text-dark.md.d-none.d-md-block {
    font-size: 35px;
}

#logo-first {
  transform: rotate(90deg);
  /* Legacy vendor prefixes that you probably don't need... */
  /* Safari */
  -webkit-transform: rotate(90deg);
  /* Firefox */
  -moz-transform: rotate(90deg);
  /* IE */
  -ms-transform: rotate(90deg);
  /* Opera */
  -o-transform: rotate(90deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  padding-top: 135px;
  display: inline-block;
}

#logo-second {
  font-weight: 900;
  display: inline-block;
}

#masthead {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2) 70%, #0000FF 100%);
}

@media (min-width: 768px){
  #navbarSupportedContent {
    position: absolute;
    left: 8%;
    top: 23%;
  }
  .top-nav-search {
    position: absolute;
    left: 80%;
    top: 25%;
  }
}

// FOOTER

img.onion {
  max-width: 5%;
  /*filter: invert(8%) sepia(98%) saturate(6823%) hue-rotate(247deg) brightness(104%) contrast(146%);*/
}

@media (min-width: 768px) {
  .onion {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .onion {
    text-align: center;
  }
  img.onion {
    max-width: 10%;
  }
}

// HOME PAGE

/// IMAGE GRID

.wp-block-media-text__content {
  font-style: italic;
  font-size: 30px;
  line-height: 46px;
  color: rgba(var(--bs-primary-rgb), var(--bs-text-opacity)) !important;
  text-decoration: none;
}

.wp-block-media-text__content a {
  text-decoration: none;
}

.wp-block-media-text.alignwide.is-stacked-on-mobile.is-vertically-aligned-bottom {
  transition: 0.5s;
}

.wp-block-media-text.alignwide.is-stacked-on-mobile.is-vertically-aligned-bottom:hover {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(252, 252, 255, 0.21) 31%, rgba(242, 242, 255, 0.24) 45%, rgba(226, 226, 255, 0.29) 57%, rgba(203, 203, 255, 0.36) 66%, rgba(173, 173, 255, 0.45) 74%, rgba(137, 137, 255, 0.57) 82%, rgba(93, 93, 255, 0.71) 89%, rgba(44, 44, 255, 0.86) 95%, #0000FF 100%);
}

.wp-block-media-text.alignwide.is-stacked-on-mobile.is-vertically-aligned-bottom img:hover {
  -webkit-filter: invert(8%) sepia(100%) saturate(7120%) hue-rotate(202deg) brightness(102%) contrast(142%);
  filter: invert(8%) sepia(100%) saturate(7120%) hue-rotate(202deg) brightness(102%) contrast(142%);
}

/// SEPARATOR

hr.wp-block-separator.has-alpha-channel-opacity.is-style-wide {
  opacity: 1.0;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(252, 252, 255, 0.21) 31%, rgba(242, 242, 255, 0.24) 45%, rgba(226, 226, 255, 0.29) 57%, rgba(203, 203, 255, 0.36) 66%, rgba(173, 173, 255, 0.45) 74%, rgba(137, 137, 255, 0.57) 82%, rgba(93, 93, 255, 0.71) 89%, rgba(44, 44, 255, 0.86) 95%, #0000FF 100%);
  height: 8.75rem;
  border-top: 0rem;
  border-bottom: 0rem;
  position: relative;
  right: 20%;
  width: 122%;
}

/// LATEST POSTS

.wp-block-latest-posts.wp-block-latest-posts__list {
  list-style: none;
  padding-left: 0;
}

a.wp-block-latest-posts__post-title {
font-style: italic;
text-decoration: none;
}

time.wp-block-latest-posts__post-date {
text-transform: uppercase;
margin-left: 50px;
}

.wp-block-latest-posts__post-author, .wp-block-latest-posts__post-date {
display: inline-block;
font-size: 20px;
}

.wp-block-latest-posts li {
border-bottom: 2px solid #000000;
}

// PAGES

.entry-header {
  font-weight: 400;
  font-size: 20px;
  line-height: 105.99%;
  /* or 32px */
  text-transform: capitalize;
}

.parent-page-title {
  padding-left: 10%;
  padding-bottom: 50px;
  text-transform: uppercase;
}

.bootscore-info.bg-light.py-2.text-center.text-primary {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 46.88%, #0000FF 100%);
}